<nav class="navbar bg-navy navbar-expand-lg  navbar-light fixed-top " style="background-color: black;">

    <div class=" container ">
        <a class="navbar-brand" routerLink="home">COVID-19 PORTAL</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
            </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " href="home ">Anasayfa</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="turkiye ">Türkiye'de Durum</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="dunya ">Dünya'da Durum</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="korunma ">Korunma ve Tedavi</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="iletisim ">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div style="padding-top: 8rem;">
    <h2 style="font-weight: bold; padding-left: 30rem;">Covid-19 Korunma ve Tedavi</h2>

</div>
<div id="accordion">
    <div class="card" style="font-weight:bold">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Nasıl Tedavi Ediliyor
          </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Antibiyotikler yeni koronavirüs enfeksiyonunu (COVID-19) önleyebilir mi veya tedavi edebilir mi? Antibiyotikler virüslere etki etmez, sadece bakterilere karşı etkilidir. COVID-19 enfeksiyonuna neden olan patojen SARS-CoV-2 olarak adlandırılan bir virüstür.
                Bununla birlikte güncel destek tedavisinde SARS-CoV-2 virüsü enfeksiyonunu müteakip gelişen bakteriyel enfeksiyonlar olabildiğinden, COVID-19 ön tanısı ile hastanelere başvuran pnömoni ve ağır pnömonisi olan hastalarda, bakteriler ve diğer
                virüsler dikkate alınarak ampirik tedavi planlanır. Ampirik tedavide kullanılacak antibiyotiğin seçimi hastanın klinik durumuna ve Sağlık Bakanlığı tarafından yayımlanan tedavi rehberlerine göre yapılır.

            </div>
        </div>
    </div>
    <div class="card" style="font-weight:bold">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Nasıl Korunmalıyız?
          </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                COVID-19'un yayılmasını önlemek için: Ellerinizi sık sık temizleyin. Sabun, su veya alkol bazlı bir dezenfektan kullanın. Öksüren veya hapşıran kişilerle aranızda güvenli mesafeyi koruyun. Gözlerinize, burnunuza veya ağzınıza dokunmayın. Öksürürken veya
                hapşırırken burnunuzu ve ağzınızı dirseğinizin iç kısmıyla veya bir mendille kapatın. Kendinizi iyi hissetmiyorsanız evde kalın. Ateş, öksürük ve solunum güçlüğü şikayetleriniz varsa tıbbi yardım alın. Önceden ilgili numarayı arayın. Yerel
                sağlık kurumunuzun talimatlarına uyun. Sağlık tesislerine gereksiz yere gitmemek, sağlık sistemlerinin daha etkili çalışmasını sağlar, sizi ve çevrenizdekileri korur. Kaynak: <a href="who.int">Dünya Sağlık Örgütü Web Sitesi</a>

            </div>
        </div>
    </div>
    <div class="card" style="font-weight:bold">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Tehlike Biter mi?
          </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Bakan Koca: 2 ay direnelim Twitter'dan paylaşım yapan Bakan Fahrettin Koca, ''2 AY DİRENELİM. YAZIN VİRÜSÜN ETKİSİ AZALIYOR. Bilim Kurulumuzun öngörüsü bu yöndedir. Bu hastalık daha çok bir kış enfeksiyonu. Tedbir alırsak, yayılmayı önlersek, büyük olasılıkla,
                2 ayda hayat normale döner'' dedi. </div>
        </div>
    </div>
</div>


<footer class="footer-distributed ">

    <div class="footer-left ">

        <h3>COVID-19 PORTAL<span></span></h3>

        <p class="footer-links ">
            |<a href="# ">Anasayfa</a>|
        </p>

        <p class="footer-company-name ">© 2020 </p>
        <a href="https://covid19-portal.com/ "> covid19-portal.com</a>
    </div>

    <div class="footer-center ">


        <div>
            <i class="fa fa-phone "></i>
            <p class="phoney ">+90 538-456-7182</p>
        </div>
        <div>
            <i class="fa fa-envelope "></i>
            <p><a href="mailto:srdrsezgn@gmail.com ">info@covid19-portal.com</a></p>
        </div>
    </div>
    <div class="footer-right ">
        <p class="footer-company-about ">
            <span>İletişime Geçin</span> Her türlü görüş, öneri ve talepleriniz için bizimle iletişime geçin.</p>
        <div class="footer-icons ">
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-twitter "></i></a>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="https://tr.linkedin.com/in/serdar-sezgin-7b3189176 "><i
                        class="fa fa-linkedin "></i></a>

            <a href="https://github.com/serdarsezgin "><i class="fa fa-github "></i></a>
        </div>
    </div>
</footer>