<nav class="navbar bg-navy navbar-expand-lg  navbar-light fixed-top " style="background-color: black;">

    <div class=" container ">
        <a class="navbar-brand" routerLink="home">COVID-19 PORTAL</a>
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
            </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent ">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " href="home ">Anasayfa</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="turkiye ">Türkiye'de Durum</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="dunya ">Dünya'da Durum</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="korunma ">Korunma ve Tedavi</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="iletisim ">İletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!--Container-->


<div class="iframe-container ">

    <iframe src="https://datastudio.google.com/embed/reporting/1GRJ_BRuXKfCoONKFIMV3Pd3fj4Vpa3vO/page/lPBKB "></iframe>

</div>

<h2 style="padding-left: 30rem;"> DÜNYADA DURUM GENEL TABLO</h2>